{{#if model.items}}
        <h2>Browse files</h2>
        {{#each pagedContent as |item|}}
            <div class="item-detail">
                <a  style="background-image: url('/img/placeholder.png');"
                    {{action "transition" "collections.collection.item" model.id item.id}}>
                        <div class="item-thumbnail">{{item.fileName}}</div>

                    </a>
                <div class="panel-body">
                    {{#link-to 'collections.collection.item' model.id item.id class="clamp"}}{{item.title}}{{/link-to}}
                    <a href="https://staging.osf.io/{{await item.createdBy.username}}">
                    <p><small>{{await item.createdBy.firstName}} {{await item.createdBy.lastName}}</small></p></a>
                </div>
            </div>
        {{/each}}  
        {{#if (not-eq totalPages 1)}}
            {{page-numbers content=pagedContent}}
        {{/if}}
{{else}}
    <p class="p-lg text-center"><em>The file grid cannot be displayed. To display the grid, add some items to this collection.</em></p>
{{/if}}
