{{#if layout.settings.useLogo}}
    <div class="coll-hero-logo" style="{{logoStyle}}" aria-role="img"
         aria-label="{{branding.logo.label}}"></div>
{{else if layout.title}}
    <h1 style="{{titleColor}}">{{layout.title}}</h1>
{{else}}
    <h1>{{model.title}}</h1>
{{/if}}
{{#if layout.tagline}}
    <p class="lead" style="{{taglineColor}}">{{layout.tagline}}</p>
{{else}}
    <p class="lead" style="{{taglineColor}}">{{model.description}}</p>
{{/if}}
