<style>
    .cards {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        flex-wrap: wrap;
        margin: 0 0;
        padding: 0 15px;
    }

    .cards .card {
        display: block;
        flex: 0 0 auto;
    //background-color: #263947;
    //background-image: linear-gradient(to bottom,rgba(0,60,60,.0)60%,rgba(34,34,34,.06)100%);
        background-color: #fff;
        color: #333;
        margin: 15px 15px;
        font-size: 1.4rem;
        padding: 20px 20px;
        box-sizing: border-box;
    //padding-top: 90px;
        position: relative;
        box-shadow: 0 4px 6px -5px rgba(0, 0, 0, 0.5);
        overflow: hidden;
    //border: 1px solid rgba(0,0,0,0.1);
        border-radius: 1px;
    }
</style>

<div id="{{get-section-id layout.title}}" class="meeting-keynote-speakers-container p-t-xl p-b-xl"
     style="{{containerStyle}}">
    <div class="container">
        {{#if layout.title}}
            <div class="row text-center section-title">
                <h2>
                    {{layout.title}}
                </h2>
            </div>
        {{/if}}
        <div class="flex-container">
            {{#if data}}
                {{#each data as |speaker|}}
                    <div class="speaker-card">
                        <div class="speaker-detail">
                            <img class="speaker-pic-thumbnail" src="{{speaker.img_url}}"/>
                            <p class="speaker-name"><a href='https://staging.osf.io/{{speaker.username}}'>{{speaker.first_name}} {{speaker.last_name}}</a>
                                <br>
                                <span class="affiliation">{{speaker.affiliation}}</span>
                            </p>
                        </div>
                    </div>
                {{/each}}
            {{else if users}}
                {{#each users as |speaker|}}
                    <div class="speaker-detail">
                        <div class="img-wrapper">
                        {{#if speaker.gravatar}}
                        <a href='https://staging.osf.io/{{speaker.username}}'><img class="speaker-pic-thumbnail" alt="User gravatar"
                                                                                   src="{{speaker.gravatar}}"/></a>
                        {{else}}
                            <a href='https://staging.osf.io/{{speaker.username}}'><img class="speaker-pic-thumbnail" alt="User gravatar"
                                                                                       src="https://udayton.edu/0/img/generic-profile.png"/></a>
                        {{/if}}</div>
                        <p class="speaker-name p-t-xs text-center"><a href='https://staging.osf.io/{{speaker.username}}'>{{speaker.computedFullName}}</a></p>
                    </div>
                {{/each}}
            {{/if}}
        </div>
    </div>
</div>
