<div id="{{get-section-id layout.title}}" class="contributors-list-container p-t-xl p-b-xl"
     style="{{containerStyle}}">
    <div class="container">
        {{#if layout.title}}
            <div class="row text-center section-title">
                <h2>
                    {{layout.title}}
                </h2>
            </div>
        {{/if}}
        <div class="flex-container">
            {{#if data}}
                {{#each data as |speaker|}}
                    <div class="speaker-card">
                        <div class="speaker-detail">
                            <img class="speaker-pic-thumbnail" src="{{speaker.img_url}}"/>
                            <p class="speaker-name"><a href='https://staging.osf.io/{{speaker.username}}'>{{speaker.first_name}} {{speaker.last_name}}</a>
                                <br>
                                <span class="affiliation">{{speaker.affiliation}}</span>
                            </p>
                        </div>
                    </div>
                {{/each}}
            {{else if users}}
                {{#each users as |speaker|}}
                    <div class="speaker-detail">
                        <div class="img-wrapper">
                        {{#if speaker.gravatar}}
                        <a href='https://staging.osf.io/{{speaker.username}}'><img class="speaker-pic-thumbnail" alt="User gravatar"
                                                                                   src="{{speaker.gravatar}}"/></a>
                        {{else}}
                            <a href='https://staging.osf.io/{{speaker.username}}'><img class="speaker-pic-thumbnail" alt="User gravatar"
                                                                                       src="https://udayton.edu/0/img/generic-profile.png"/></a>
                        {{/if}}</div>
                        <p class="speaker-name p-t-xs text-center"><a href='https://staging.osf.io/{{speaker.username}}'>{{speaker.computedFullName}}</a></p>
                    </div>
                {{/each}}
            {{/if}}
        </div>
    </div>
</div>
