<style>

    .submission-text-field {
        margin-top: 10px;
    }


</style>

{{#if (not editing)}}

    {{valueName}}: {{widget.parameter.value.value}}

{{/if}}

{{#if editing}}
    <div class='submission-text-field'>
        <label>{{widget.description}}</label>
        {{#if metadata}}
            {{json-editor json=parameters.value.value onChange=(action "updateCacheSettings") }}
        {{else}}
            {{input value=parameters.value.value class='form-control'}}
        {{/if}}


    </div>
{{/if}}
{{yield}}
