<form>

    <h1>{{caxe.workflow.title}}</h1>

    {{#if (eq caxe.workflow.submissionFormType 'Website')}}

        {{add-website model=model transition=(action "transition")}}

    {{else}}

        <div class="description">

            {{caxe.workflow.description}}

        </div>

        <div class="instructions">
            Any changes you make here are automatically saved. You can use the reference code <span class="emphasis" style="background-color:#ddd; color:#333;">{{caxe.id}}</span> to load this submission again.
        </div>

        {{#each caxe.workflow.sortedSections as |section|}}

            <fieldset>
                <h2>{{section.label}}</h2>
                <p>{{section.description}}</p>
                {{#each section.sortedWidgets as |widget|}}
                    {{component widget.widgetType
                        widget=widget
                        collection=collection
                        parameters=widget.caseParameters}}
                {{/each}}
            </fieldset>

        {{/each}}

    {{/if}}

</form>
