
<div class="hero">
    <h1>{{#if item.title}}{{item.title}}{{else}}New Submission{{/if}}</h1>
    <h3>{{item.description}}</h3>
</div>
{{#if loading}}
    {{loading-spinner fullPage=true style="fa-4x"}}
{{/if}}

<section>

{{!-- ON HOLD
    {{#if (eq caxe.workflow.submissionFormType 'Website')}}

        {{add-website model=model transition=(action "transition")}}

    {{else}}
        <p class="text-center">
            Any changes you make here are automatically saved. You can use the reference code <span class="emphasis" style="background-color:#ddd; color:#333;">{{caxe.id}}</span> to load this submission again.
        </p>


        {{#each caxe.workflow.sortedSections as |section|}}

            <fieldset>
                <h2>{{section.label}}</h2>
                <p>{{section.description}}</p>
                {{#each section.sortedWidgets as |widget|}}
                    {{component widget.widgetType
                        widget=widget
                        collection=collection
                        parameters=widget.caseParameters
                        toggleLoading=(action toggleLoading)}}
                
                
                {{/each}}
            </fieldset>

        {{/each}}

    {{/if}}
--}}
    <h3>Item Title</h3>
    {{input value=item.title}}
    <h3>Item Description</h3>
    {{input value=item.description}}
    <h3>File Picker</h3>
    <p>Placeholder for filepicker</p>
    <h3>Item Metadata</h3>
    {{input value=item.metadata}}
</section>
