<section class="hero">
    <h1>{{model.title}}</h1>
</section>

<section>

    <h2>Collection Information</h2>

    <div class="input-item">
        <label for="collectionTitle">Title</label>
        {{input
            class="form-control"
            value=model.title
            placeholder="Enter title"
            id="collectionTitle"}}
    </div>

    <div class="input-item">
        <label for="collectionDescription">Description</label>
        {{textarea
            class="form-control"
            value=model.description
            id="collectionDescription"}}
    </div>

    <div class="input-item">
        <label for="collectionTags">Tags</label>
        {{input
            class="form-control"
            value=model.tags
            placeholder="Enter comma separated tags"
            id="collectionTags"}}
    </div>

    <div class="input item">
        <label>Type</label>
        <select class="form-control" onchange={{action 'setCollectionType'}}>
            {{#each types as |type|}}
                <option
                    value={{type}}
                    selected={{eq type model.type}}>
                    {{type}}
                </option>
            {{/each}}
        </select>
    </div>

    <p><label>Created by:</label> {{model.createdBy.firstName}} {{model.createdBy.lastName}}</p>
    <p><label>Date created:</label> {{model.dateCreated}} </p>
    <p><label>Date updated:</label> {{model.dateUpdated}}</p>
</section>

<section>

    <h2>Collection Landing Page Settings</h2>
    <p>
        <a target="_blank" href="https://github.com/cos-labs/collections/blob/develop/README.md#how-to-edit-your-meetings-landing-page">
            Click here for settings documentation
        </a>
    </p>
    {{json-editor json=model.settings onChange=(action "updateCacheSettings")}}

</section>

<section>
  <h2>Form Settings</h2>
  <p>OSF Collections uses Alpaca.js to let collection-owners create their own custom forms and web-hooks. It's not as scary as it sounds, we promise!
    <a target="_blank" href="http://www.alpacajs.org/">
      You can click here for more information about Alpaca.js.
    </a>
  </p>
  {{json-editor json=model.submissionSettings onChange=(action "updateFormSettings")}}

</section>

<section>
  {{#if model.canAdmin}}
    <h3 style="margin-top:50px;">Moderators</h3>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Name</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      {{#each model.moderators as |mod|}}
        <tr>
          <td>{{await mod.username}}</td>
          <td>
            <div class="btn btn-default" {{action 'removeModerator' mod}}>Revoke Mod Privileges</div>
          </td>
        </tr>
      {{/each}}
      <tr>
        <td>{{input value=newModeratorGuid}}</td>
        <td>
          <div class="btn btn-default" {{action 'addModerator' newModeratorGuid}}>Add Moderator by GUID</div>
        </td>
      </tr>
      </tbody>
    </table>
    <h3>Admins</h3>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Name</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      {{#each model.admins as |administrator|}}
        <tr>
          <td>{{await administrator.username}}</td>
          <td>
            <div class="btn btn-default" {{action 'removeAdmin' mod}}>Revoke Admin Privileges</div>
          </td>
        </tr>
      {{/each}}
      <tr>
        <td>{{input value=newAdminGuid}}</td>
        <td>
          <div class="btn btn-default" {{action 'addAdmin' newAdminGuid}}>Add Admin by GUID</div>
        </td>
      </tr>
      </tbody>
    </table>
  {{/if}}
</section>

<section>

    {{#if session.isAuthenticated}}

        <div>
            <button class="btn btn-danger btn-inverse" {{action "revert"}}>
                <i class="fa fa-times"></i>
                Revert
            </button>
            <button class="btn btn-success btn-progress" {{action 'saveChanges'}}>
                <i class="fa fa-pencil"></i>
                Save
            </button>
        </div>

    {{/if}}

</section>


{{#if showDeleteConfirmation}}
    <section>
        <div class="modal fade in" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" aria-label="Close" {{action toggleProperty
                                                                                        'showDeleteConfirmation'}}>
                            <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Delete collection "{{model.title}}"?</h4>
                    </div>
                    <div class="modal-body">
                        <p>This will remove all groups and items inside collections. Original projects
                            are not deleted.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" {{action toggleProperty 'showDeleteConfirmation'}}>Close</button>
                        <button type="button" class="btn btn-danger" {{action 'deleteCollection'}}>Delete</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <div class="modal-backdrop fade in"></div>
    </section>
{{/if}}

