<section class="hero">
    <h1>{{collection.title}}</h1>
</section>

<section>

    <h2>Collection Information</h2>

    <div class="input-item">
        <label for="collectionTitle">Title</label>
        {{input
            class="form-control"
            value=collection.title
            placeholder="Enter title"
            id="collectionTitle"}}
    </div>

    <div class="input-item">
        <label for="collectionDescription">Description</label>
        {{#if collection.description}}
            {{textarea
                class="form-control"
                value=collection.description
                id="collectionDescription"}}
        {{else}}
            <span class="text-muted" {{action 'showEdit'}}>Add description</span>
        {{/if}}
    </div>

    <div class="input-item">
        <label for="collectionTags">Tags</label>
        {{input
            class="form-control"
            value=collection.tags
            placeholder="Enter comma separated tags"
            id="collectionTags"}}
    </div>

    <div class="input item">
        <label>Type</label>
        <select class="form-control" onchange={{action 'setCollectionType'}}>
            {{#each types as |type|}}
                <option
                    value={{type}}
                    selected={{eq type collection.type}}>
                    {{type}}
                </option>
            {{/each}}
        </select>
    </div>

    <p><label>Created by:</label> {{collection.createdBy.firstName}} {{collection.createdBy.lastName}}</p>
    <p><label>Date created:</label> {{collection.dateCreated}} </p>
    <p><label>Date updated:</label> {{collection.dateUpdated}}</p>

    {{#if (eq collection.settings.collection_type 'Meeting')}}
        <p><label>Location:</label> {{collection.location}}</p>
        <p><label>Address:</label> {{collection.address}}</p>
        <p><label>Start Date:</label> {{collection.startDate}}</p>
        <p><label>End Date:</label> {{collection.endDate}}</p>
    {{/if}}


</section>

<section class="collection-workflows">

    <h2>Workflows</h2>
    <p>This is the list of workflows associated with the collection</p>
    {{#each collection.collectionWorkflows as |collectionWorkflow|}}

        <div class="edit-workflow">
            <h3 class="workflow">
                {{collectionWorkflow.role}} Workflow
            </h3>
            <p>
                <label>Workflow Role</label>
                {{input value=collectionWorkflow.role class="form-control"}}
            </p>
            <p>
                <label>Workflow Type:</label>
                <select
                    class="form-control"
                    onchange={{action 'setWorkflowTypeForCollectionWorkflow' collectionWorkflow}}
                    >
                    <option disabled selected>
                        -- Select a workflow type --
                    </option>
                    {{#each workflows as |workflow|}}
                        <option
                            value={{workflow.id}}
                            selected={{eq workflow.id collectionWorkflow.workflow.id}}>
                            {{workflow.title}}
                        </option>
                    {{/each}}
                </select>
            </p>
            <p>
                <label>Authorized Groups:</label>
                <ul>
                    {{#each collectionWorkflow.authorizedGroups as |group|}}
                        <li><label>Group Name:&nbsp;</label>{{group.name}}</li>
                        <button onclick={{action "removeCollectionWorkflowGroup" collectionWorkflow group}}>
                            Remove Group
                        </button>
                    {{/each}}
                </ul>
                <label>Type</label>
                <select class="form-control" onchange={{action 'setGroupForCollectionWorkflow' collectionWorkflow}}>
                    <option disabled selected> -- Select a group to add as authorized for the workflow -- </option>
                    {{#each groups as |group|}}
                        <option
                            value={{group.id}}
                            selected={{eq group.id collectionWorkflow.group.id}}>
                            {{group.name}}
                        </option>
                    {{/each}}
                </select>
                <button onclick={{action "addGroupToCollectionWorkflow" collectionWorkflow}}>
                    Add Group
                </button>
            </p>

            <button class="btn btn-inverse btn-danger" onclick={{action "removeWorkflow" collectionWorkflow}}>
                Remove
            </button>
        </div>

    {{/each}}

    <button class="button-add-workflow btn btn-primary" onclick={{action "addWorkflow"}}>
        Add a workflow
    </button>
</section>

{{#if (eq collection.collectionType 'meeting')}}

    <section>

        <div class="form-group">
            <label for="location">Location</label>
            {{input class="form-control" value=collection.location
                    placeholder="Enter location" id="location"}}
        </div>
        <div class="form-group">
            <label for="address">Address</label>
            {{input class="form-control" value=collection.address
                    placeholder="Enter address" id="address"}}
        </div>
        <div class="form-group">
            <label for="startDate">Start Date</label>
            {{input class="form-control" value=collection.startDate
                    placeholder="Enter start date" id="startDate"}}
        </div>
        <div class="form-group">
            <label for="endDate">End Date</label>
            {{input class="form-control" value=collection.endDate
                    placeholder="Enter end date" id="endDate"}}
        </div>

    </section>

{{/if}}


<section>

    <h2>Page Settings</h2>
    <p>
        <a target="_blank" href="https://github.com/cos-labs/collections/blob/develop/README.md#how-to-edit-your-meetings-landing-page">
            Click here for settings documentation
        </a>
    </p>
    {{json-editor json=collection.settings onChange=(action "updateCacheSettings")}}

</section>


<section>

    {{#if session.isAuthenticated}}

        <div>
            <button class="btn btn-danger btn-inverse btn-space" {{action "revert"}}>
                <i class="fa fa-times"></i>
                Revert
            </button>
            <button class="btn btn-success btn-progress" {{action 'saveChanges'}}>
                <i class="fa fa-pencil"></i>
                Save
            </button>
        </div>

    {{/if}}

</section>


{{#if showDeleteConfirmation}}
    <section>
        <div class="modal fade in" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" aria-label="Close" {{action toggleProperty
                                                                                        'showDeleteConfirmation'}}>
                            <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Delete collection "{{collection.title}}"?</h4>
                    </div>
                    <div class="modal-body">
                        <p>This will remove all groups and items inside collections. Original projects
                            are not deleted.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" {{action toggleProperty 'showDeleteConfirmation'}}>Close</button>
                        <button type="button" class="btn btn-danger" {{action 'deleteCollection'}}>Delete</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <div class="modal-backdrop fade in"></div>
    </section>
{{/if}}

