<div class="hero">
    <h1>{{item.title}}</h1>
</div>

<section>
    <fieldset>
        <h5 class="view-authors">
            {{item.createdBy.firstName}} {{item.createdBy.lastName}}
        </h5>
        <p>Added on: {{moment-format model.item.datePublished "MMMM DD, YYYY"}} | Last
            edited: {{moment-format model.item.dateModified "MMMM DD, YYYY"}} </p>
    </fieldset>

    <fieldset>
        {{file-renderer download=item.fileLink width="100%" allowfullscreen=true}}

    
    </fieldset>
    <fieldset>
        <h4 class="p-v-md f-w-md"><strong>Presentation Details</strong></h4>
        <p>{{item.location}}<br>{{item.startTimeFormatted}}
            - {{model.item.endTimeFormatted}}</p>
        <h4 class="p-v-md f-w-md"><strong>Description</strong></h4>
        <p>{{item.description}}</p>

        <h4 class="p-v-md f-w-md"><strong>Status</strong></h4>
        <p class="coll-item-status {{item.status}}"> {{item.status}} </p>

        {{#if item.tags}}
        <h4 class="p-v-md f-w-md"><strong>Tags</strong></h4>
        <span class="coll-item-tag">{{item.tags}}</span>
        {{/if}}
        <hr />
        <a href="https://osf.io/{{item.sourceId}}" class="btn btn-default btn-block"> Go to Source</a>
    </fieldset>
</section>
