<div class="hero">
    <h1>{{item.title}}</h1>

    <h2 class="view-authors">
        {{item.createdBy.firstName}} {{item.createdBy.lastName}}
    </h2>
    <p>Added on: {{moment-format model.item.datePublished "MMMM DD, YYYY"}} | Last
    edited: {{moment-format model.item.dateModified "MMMM DD, YYYY"}} </p>
</div>

<section style="flex-direction: row;  flex-wrap: unset; ">
    <fieldset class="item-view-horizontal" style="min-width: 600px;">
        {{file-renderer download=item.fileLink width="100%" allowfullscreen=true}}

    </fieldset>
    <fieldset class="item-view-horizontal">
        {{#if (or item.location (and item.startTime item.endTime))}}
            <h2>Presentation Details</h2>
            {{#if item.location}}
                <p>{{item.location}}</p>
            {{/if}}
            {{#if (and item.startTime item.endTime)}}
                <p>{{item.startTime}} - {{item.endTime}}</p>
            {{/if}}
        {{/if}}
        <h2>Description</h2>
        <p>{{item.description}}</p>

        <h2>Submission Status</h2>
        <p class="coll-item-status {{item.status}}"> {{item.status}} </p>

        <h2>Moderator Actions</h2>
        {{#if isModerator}}
            {{#if (or (eq item.status 'pending') (eq item.status 'rejected'))}}
                <button class="btn btn-success" {{action 'approveItem' item}}>Approve</button>
            {{/if}}
            {{#if (or (eq item.status 'pending') (eq item.status 'approved'))}}
                <button class="btn btn-danger" {{action 'rejectItem' item}}>Reject</button>
            {{/if}}
        {{/if}}
        {{#if item.tags}}
        <h2>Tags</h2>
        <span class="coll-item-tag">{{item.tags}}</span>
        {{/if}}
        <hr>
        {{#if item.metadata}}
            <h2>Metadata</h2>
            <ul>
                {{#each-in item.metadata as |key value|}}
                    <li><strong>{{key}}</strong> - {{value}}</li>
                {{/each-in}}
            </ul>
            <hr>
        {{/if}}
        <a href="https://osf.io/{{item.sourceId}}" class="btn btn-default btn-block"> View on OSF</a>
    </fieldset>
</section>
