<div class="hero">
  <h1>Moderation Home</h1>
</div>
<div class="text-center" style=" margin-top: 15px; margin-bottom: 15px;">
  All existing submissions to {{model.title}}. In-progress submissions may be continued by
  pressing the continue button.
</div>
<div class="container">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Submission Name</th>
      <th>Status</th>
      <th></th>
      <th class="text-right">Actions</th>
    </tr>
    </thead>
    <tbody>
    {{#each model.items as |item|}}
      <tr>
        <td>{{item.title}}</td>
        <td>{{item.status}}</td>
        <td class="text-right">{{#link-to 'items.item.index' item.id
                                          class="btn btn-default text-right"}}
          View Item{{/link-to}}</td>
        <td class="text-right">
          {{#if (or (eq item.status 'pending') (eq item.status 'rejected'))}}
            <button class="btn btn-success" {{action 'approveItem' item}}>Approve</button>
          {{/if}}
          {{#if (or (eq item.status 'pending') (eq item.status 'approved'))}}
            <button class="btn btn-danger" {{action 'rejectItem' item}}>Reject</button>
          {{/if}}
        </td>
      </tr>
    {{else}}
      <div class="empty-state">
        You have not started any submissions to {{collection.title}}
      </div>
    {{/each}}
    </tbody>
  </table>
</div>