<div class="hero">
    <h1>{{collection.title}} Submissions</h1>
    {{#link-to 'collections.collection.add' collection.id class="btn btn-success btn-lg"}}
        Start a new submission
    {{/link-to}}
</div>
<div class="text-center" style=" margin-top: 15px; margin-bottom: 15px;" >
    All of your submissions to the {{collection.title}}. In-progress submissions may be continued by pressing the continue button.
</div>
<div class="active-cases">
    <div class="table-heading" style="background-color: #444; color: #fff;">
        <div class="form-type">Form Type</div>
        <div class="continue-button"></div>
    </div>
    {{#each items as |item|}}
        <div class="form-type">{{item.title}}</div>
        <div class="continue-button">
            {{#link-to 'collections.collection.item' collection.id item.id class="btn btn-success pull-right"}}Continue{{/link-to}}
        </div>
    {{else}}
        <div class="empty-state">
            You have not started any submissions to {{collection.title}}
        </div>
    {{/each}}
</div>
