<div class="hero">
    <h1>{{collection.title}} Submissions</h1>
    <button class="btn btn-success btn-lg" {{action "newCase" collection}}>
        Start a new submission
    </button>
</div>


<div class="info" style="background-color:#daf5ff; border-color:#b2dcff">
    In progress submissions to the {{collection.title}}. Any of the submissions may be continued by pressing the continue button.
</div>


{{#each cases as |case|}}

    <div class="case-detail">
        <span class="case-number">{{case.id}}</span>
        <h2>{{case.workflow.title}}</h2>
        <div class="content">
            <button class="btn btn-success" {{action "continueCase" case collection}}>
                Continue
            </button>
        </div>
    </div>

{{else}}

    <div class="section">
        <div class="label">
            You have not started any submissions to {{collection.title}}
        </div>
    </div>

{{/each}}

