<div class="hero">
    <h1>{{collection.title}} Submissions</h1>
    <a class="btn btn-success btn-lg" {{action "newCase" collection}}>
        Start a new submission
    </a>
</div>


<div class="instructions" style="background-color:#daf5ff; border-color:#b2dcff; margin-top: 15px; margin-bottom: 15px;" >
    In progress submissions to the {{collection.title}}. Any of the submissions may be continued by pressing the continue button.
</div>

<div class="active-cases">
    <div class="table-heading" style="background-color: #444; color: #fff;">
        <div class="case-no">Case No.</div>
        <div class="form-type">Form Type</div>
        <div class="continue-button"></div>
    </div>
    {{#each cases as |case|}}

        <div class="case-details">
            <div class="case-no">{{case.id}}</div>
            <div class="form-type">{{case.workflow.title}}</div>
            <div class="continue-button">
                <a class="btn btn-success pull-right" {{action "continueCase" case collection}}>Continue</a>
            </div>
        </div>

    {{else}}

        <div>
            <div>You have not started any submissions to {{collection.title}}</div>
        </div>

    {{/each}}
</div>

