<style>
    .submission-upload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }
</style>
<div class="hero">
    <h1>Edit Submission: {{#if item.title}}{{item.title}}{{else}}{{/if}}</h1>
    <h3>{{item.description}}</h3>
</div>
{{#if loading}}
    {{loading-spinner fullPage=true style="fa-4x"}}
{{/if}}

<section>
    <h3>Item Title</h3>
    {{input value=item.title}}
    <h3>Item Description</h3>
    {{input value=item.description}}
    <!--<h3>File Picker</h3>-->
    <!--<div class="submission-upload" style="width:100%;">-->
        <!--<div class="text-center">Click to upload a file</div>-->
        <!--<input class="upload" type="file" onchange={{action 'uploadFile'}}>-->
    <!--</div>-->
    <h3>Item Metadata</h3>
    {{input value=item.metadata}}
    <button class="btn btn-primary" style="width:100%;" {{action 'submit' item}}>Save Changes</button>
</section>
