{{#if session.isAuthenticated}}
    <section class="coll-banner text-center">
        {{#link-to 'create' class="btn btn-success btn-lg m-t-lg"}}Start a collection {{/link-to}}
    </section>
{{/if}}

<div class="results">

    <div class="search">
    
        {{input class="searchbox" placeholder="Search..." value=q}}
        <button class="btn btn-primary" {{action "doQuery" q}}>
            <i class="fa fa-search" aria-hidden="true"></i>
        </button>
    
    </div>

    <nav class="results-nav">
        <a>Kind</a>
        <a>Creator</a>
        <a>Date Created</a>
    </nav>

    <div class="result-items">

        {{#each collections as |collection|}}
            <div class="result-item">

                <h2>
                    {{#link-to "collections.collection" collection.id}}
                        <span>
                            {{collection.title}}
                        </span>
                    {{/link-to}}
                </h2>
                <div class="description">{{collection.description}}</div>

            </div>

        {{else}}

            Searching...

        {{/each}}

    </div>


</div>
