<div class="container">
    <form class="form-inline m-b-md">
        <div class="form-group">
            <div class="input-group">
                {{input class="form-control" value=searchInput placeholder="Ex: \"Lorem\""}}
            </div>
            <div {{action 'search'}} class="btn btn-default">Search Items</div>
        </div>
    </form>
    <table class="coll-table m-b-md">
        <thead style="{{theadStyle}}">
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Type</th>
        </tr>
        </thead>
        <tbody>
        {{#each searchResults.data as |r|}}
            <tr>
                <td>{{#link-to "collection.item"
                               model.id r.id}}{{r.attributes.title}}{{/link-to}}</td>
                <td>{{r.attributes.created-by}}</td>
                <td>{{r.attributes.category}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
    <div class="pagination-wrapper text-center m-b-md">
        <button class="btn btn-default prevPage" {{action 'prevPage'}}> prev</button>
        <button class="btn btn-default nextPage" {{action 'nextPage'}}> next</button>
    </div>
</div>
