<div class="container">
    <div class="row m-b-md">
        <form class="form-inline">
            <div class="form-group">
                <div class="input-group">
                    {{input class="form-control" value=searchInput placeholder="Ex: \"Lorem\""}}
                </div>
                <div {{action 'search'}} class="btn btn-default">Search Items</div>
            </div>
        </form>
    </div>
    <div class="row m-b-lg">
        <table class="coll-table">
            <thead style="{{theadStyle}}">
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody>
                {{#each searchResults.data as |r|}}
                <tr>
                        <td>{{#link-to "collection.item"
                                       model.id r.id}}{{r.attributes.title}}{{/link-to}}</td>
                        <td>{{r.attributes.created-by}}</td>
                        <td>Event [debug this template]</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <div class="pagination-wrapper text-center">
            <div class="btn btn-default" {{action 'prevPage'}}> prev </div>
            <div class="btn btn-default" {{action 'nextPage'}}> next </div>
        </div>

    </div>
</div>
