<form>
    {{input class="form-control search-bar" value=searchInput placeholder="Ex: \"Lorem\""}}
    <div {{action 'search'}} class="btn btn-primary">
        <i class="fa fa-search" aria-hidden="true"></i>
    </div>
</form>

<div class="item-list">
    <div class="table-heading">
        <div class="title">Title</div>
        <div class="author">Author</div>
        <div class="type">Type</div>
    </div>
    {{#each searchResults.data as |r|}}
        <div class="item-row">
            <div>
                {{#link-to "collections.collection.item" model.id r.id}}
                    {{r.attributes.title}}
                {{/link-to}}
            </div>
            <div>{{r.attributes.created-by}}</div>
            <div>{{r.attributes.category}}</div>
        </div>
    {{/each}}
</div>

<div class="pagination-wrapper text-center m-b-md">
    <ul class="pagination">
        <li class="arrow prev prevPage" >
            <a class="btn btn-default " {{action 'prevPage'}}>«</a>
        </li>
        {{#each pageNumberButtons as |item|}}
            <li class="page-number"{{action 'loadPage' item}} data-id="{{item}}"><a>{{item}}</a></li>
        {{/each}}
        <li class="arrow next nextPage">
            <a class="btn btn-default " {{action 'nextPage'}}>»</a>
        </li>
    </ul>
</div>
