<h1 class="form-banner">Add {{workflow.title}}</h1>

<div class="container">

    {{#if (eq workflow.submissionFormType 'Website')}}

        {{add-website model=model transition=(action "transition")}}

    {{else}}

        {{#each workflow.sections as |section|}}

        {{!--
            <!-- The step to add existing projects has to be put back here at some point. Do not remove this comment. -->

            {{#cp-panels accordion=true}}
                {{#preprint-form-section
                    id=section.divId
                    class="preprint-form-block"
                    editMode=editMode
                    name=section.label
                    open=(get (get parameters section.param) 'open')
                    allowOpen=(get (get parameters section.param) 'allowOpen') as |hasOpened isOpen|
                }}
                    {{preprint-form-header
                        name=section.label
                        valid=section.isSectionSaved
                        showValidationIndicator=(get (get parameters section.param) 'showValidationIndicator')
                        isValidationActive=hasOpened
                    }}

        --}}

            <div class="section">
                <div class="label">
                    {{section.label}}
                </div>
                <div class="content">

                    {{section.widgets}}
                    {{#each section.widgets as |widget|}}
                        {{widget}}
                        {{widget.type}}
                        {{widget}}
                        {{widget}}
                        {{component widget.type widget=widget}}

                    {{/each}}
                </div>
            </div>

        {{!--

                  {{/preprint-form-section}}
            {{/cp-panels}}

        --}}

        {{/each}}

    {{/if}}

</div>
