<h1 class="form-banner">{{workflow.title}}</h1>

<div class="container">

    {{#if (eq workflow.submissionFormType 'Website')}}

        {{add-website model=model transition=(action "transition")}}

    {{else}}

        {{#each workflow.sortedSections as |section|}}

            <div class="section">
                <div class="label">
                    {{section.label}}
                </div>
                <div>
                    {{section.description}}
                </div>
                <div class="content">

                    {{#each section.sortedWidgets as |widget|}}
                        {{component widget.widgetType widget=widget collection=collection}}
                    {{/each}}
                </div>
            </div>

        {{/each}}

    {{/if}}

</div>
