<div class="coll-item-page">
    <div class="coll-item-header">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-10">
                    <h1 class="p-b-md">{{ model.node.title}}</h1>
                    <h5 class="view-authors">
                        {{model.item.createdBy.firstName}} {{model.item.createdBy.lastName}}
                    </h5>
                    <p>Added on: {{moment-format model.item.datePublished "MMMM DD, YYYY"}} | Last
                        edited: {{moment-format model.item.dateModified "MMMM DD, YYYY"}} </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row p-t-lg">
            <div class="col-sm-8">
                <div>
                    {{file-renderer download=model.item.fileLink width="99%" height="1000"
                                    allowfullscreen=true}}
                </div>
            </div>
            <div class="col-sm-4 col-sm-12">
                <h4 class="p-v-md f-w-md"><strong>Presentation Details</strong></h4>
                <p>{{model.item.location}}<br>{{model.item.startTimeFormatted}}
                    - {{model.item.endTimeFormatted}}</p>
                <h4 class="p-v-md f-w-md"><strong>Description</strong></h4>
                <p>{{model.item.description}}</p>

                <h4 class="p-v-md f-w-md"><strong>Status</strong></h4>
                <p class="coll-item-status {{model.item.status}}"> {{model.item.status}} </p>

                <h4 class="p-v-md f-w-md"><strong>Tags</strong></h4>
                <span class="coll-item-tag">{{model.item.tags}}</span>

                <div class="m-t-md">
                    <a href="https://staging.osf.io/{{model.item.sourceId}}"
                       class="btn btn-default btn-block"> Go to Source</a>
                </div>
            </div>
        </div>
    </div>
</div>
