<div class="coll-create-header p-xl">
    <div class="text-center">
        <h2> Create a collection </h2>
    </div>
</div>
<div class="coll-create"> 
    <div class="container"  style="max-width: 800px;">
            <h4>Add title </h4>
            {{input class="form-control input-box" value=title placeholder="Enter collection name"}}
       
        <hr class="soften"/>       
            <h4>Select collection type</h4>
            <div class="coll-cards input-box">
                {{#each typeList as |type|}}
                    <div class="pointer m-b-md p-md box-round osf-box input-box  {{if
                            (eq selectedType type) 'osf-box-lt coll-active'
                            'osf-box'}} " style="width: 32%;" {{action 'updateType' type}}>
                        <div class="coll-radio"></div>
                        {{type}}
                    </div>
                {{/each}}
            </div>

        <hr class="soften"/>
            <h4>Add description <span class="text-muted">Optional </span></h4>
            {{textarea class="form-control input-box" value=description rows="6"}}

        <hr class="soften" />
        {{#if (eq selectedType 'meeting')}}
            
            <hr class="soften" />
                <h4>Add Location </h4>
                {{input class="form-control input-box" value=location placeholder="Enter meeting location"}}
            
            <hr class="soften" />
                <h4>Add Address </h4>
                {{input class="form-control input-box" value=address placeholder="Enter meeting address"}}
           
            <hr class="soften" />
                    <h4> Add Meeting Dates </h4>
                    Start Date:
                    {{bs-datetimepicker date=startDate class="input-box"}}
                    End Date:
                    {{bs-datetimepicker date=endDate class="input-box"}}
        {{/if}}
        <h4>Submission Form Type </h4>

        <select class="form-control input-box" onchange={{action 'setWorkflow'}}>
            <option disabled selected> -- Select a submission workflow for the service -- </option>
            {{#each workflows as |workflowChoice|}}
                <option value={{workflowChoice.id}} selected={{eq selectedWorkflow.id workflowChoice.id}}>{{workflowChoice.title}}</option>
            {{/each}}
        </select>
        <br />
        <div class="pull-right">
            {{#link-to 'explore' class="btn btn-default"}} Cancel {{/link-to}}
            <a class="btn btn-primary {{unless title 'disabled'}}" {{action 'addCollection'}}>Continue</a>
        </div>    
    </div>
</div>
