<h1 class="submission">Create a collection</h1>
<section>

    <fieldset>
        <h2>Add title </h2>
        {{input class="form-control" value=title placeholder="Enter collection name"}}
    </fieldset>

    <fieldset>
        <h2>Select collection type</h2>
        {{#each typeList as |type|}}
        <div class="radio">
            {{element-radio-button id=type.value value=type.value name="radio-collection-type" checked=collectionType}}
            <label for="{{type.value}}">{{type.label}}<p>{{type.description}}</p></label>
        </div>
        {{/each}}
    </fieldset>

    <fieldset>
        <h2>Add description <span class="text-muted">Optional </span></h2>
        {{textarea class="form-control" value=description rows="6"}}
    </fieldset>

    {{#if (eq collectionType 'meeting')}}

    <fieldset>
        <h2>Logistics</h2>
        <h3> Add Location </h3>
        {{input class="form-control" value=location placeholder="Enter meeting location"}}
        <h3> Add Address </h3>
        {{input class="form-control" value=address placeholder="Enter meeting address"}}
        <h3> Add Meeting Dates </h3>
        Start Date:
        {{bs-datetimepicker date=startDate}}
        End Date:
        {{bs-datetimepicker date=endDate}}
    </fieldset>

    {{/if}}

    <fieldset>
        <h2>Collection Workflows</h2>

        {{#each collectionWorkflows as |collectionWorkflow|}}

            <div class="edit-workflow">
                <h3 class="workflow">
                    {{collectionWorkflow.role}} Workflow
                </h3>
                <p>
                    <label>Workflow Role</label>
                    {{input value=collectionWorkflow.role class="form-control"}}
                </p>
                <p>
                    <label>Workflow Type:</label>
                    <select
                        class="form-control"
                        onchange={{action 'setWorkflowTypeForWorkflowCollection' collectionWorkflow}}
                        >
                        <option disabled selected>
                            -- Select a workflow type --
                        </option>
                        {{#each workflows as |workflow|}}
                            <option
                                value={{workflow.id}}
                                selected={{eq workflow.id collectionWorkflow.workflow.id}}>
                                {{workflow.title}}
                            </option>
                        {{/each}}
                    </select>
                </p>
                <p>
                    <label>Authorized Groups:</label>
                    <ul>
                        {{#each collectionWorkflow.authorizedGroups as |group|}}
                            <li><label>Group Name:&nbsp;</label>{{group.name}}</li>
                            <button onclick={{action "removeCollectionWorkflowGroup" collectionWorkflow group}}>
                                Remove Group
                            </button>
                        {{/each}}
                    </ul>
                    <label>Type</label>
                    <select class="form-control" onchange={{action 'setGroupForCollectionWorkflow' collectionWorkflow}}>
                        <option disabled selected> -- Select a group to add as authorized for the workflow -- </option>
                        {{#each groups as |group|}}
                            <option
                                value={{group.id}}
                                selected={{eq group.id collectionWorkflow.group.id}}>
                                {{group.name}}
                            </option>
                        {{/each}}
                    </select>
                    <button onclick={{action "addGroupToCollectionWorkflow" collectionWorkflow}}>
                        Add Group
                    </button>
                </p>

                <button class="btn btn-inverse btn-danger" onclick={{action "removeWorkflow" collectionWorkflow}}>
                    Remove
                </button>
            </div>

        {{/each}}

        <button class="button-add-workflow btn btn-primary" onclick={{action "addWorkflow"}}>
            Add a workflow
        </button>

    </fieldset>

    <fieldset>
        {{#link-to 'explore' class="btn btn-default"}} Cancel {{/link-to}}
        <button class="btn btn-primary {{unless title 'disabled'}}" {{action 'addCollection'}}>
            Continue
        </button>
    </fieldset>

</section>
