{{outlet}}
{{nav-bar}}
<div class="explore-hero">
    <div class="cards collection-types">

        {{#link-to "collections.index" (query-params kind="meeting") class="card"}}
            <span class="image" style="background-image: url('/img/meetings.jpg');"></span>
            <h3>Meetings</h3>
        {{/link-to}}
        {{#link-to "collections" (query-params kind="dataset") class="card"}}
            <span class="image" style="background-image: url('/img/datasets.jpg');"></span>
            <h3>Datasets</h3>
        {{/link-to}}

    </div>
</div>



<div>

    <h2 class="text-center">Collections</h2>
    <div class="cards">
        {{#each collections as |collection|}}
            {{collection-detail collection=collection}}
        {{/each}}
    </div>

    <div class="text-center">
        {{#if showLoadMore}}
            {{#if loadingMore}}
                <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw text-muted m-t-md"></i>
            {{else}}
                <button class="btn btn-default" {{action 'loadMore'}}> Load more</button>
            {{/if}}
        {{/if}}
    </div>

</div>
