{{outlet}}
Username
{{input value=model.username}}
First Name
{{input value=model.firstName}}
Last Name
{{input value=model.lastName}}
Email
{{input value=model.email}}
Password
{{input value=model.password}}
<div class="btn btn-primary" {{action 'createUser'}}>Create New Account</div>